body {
    text-align: center;
    background-color: rgb(32, 32, 32);
    color: rgb(177, 177, 177);
}

#box {
    border-radius: 2em;
    border-style: solid;
    width: 30%;
    min-width: 300px;
    height: 30%;
    min-height: 100px;
    
}

